$left-width: 70%;
$right-width: 30%;
$background-color: #34a7dd;
$background-color-body: white;
$muted-color: gray;
$border-radius-head: 32px 32px 0px 0px;
$tiny-font-size: 12px;
$border: 1px dashed black;
$bottom-height: 24px;

.ticket {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 32px;
  font-size: 14px;
  width: 600px;
}

.ticket-head {
  background-color: $background-color;
  border-radius: $border-radius-head;
  color: white;
}

.ticket-head-left-element {
  display: inline-block;
}

.ticket-head-right-element {
  display: inline-block;
}

.plane-icon {
  width: 32px;
  margin-left: 8px;
}

.ticket-head-title {
  font-size: 18px;
}

.ticket-head-secondary {
  font-size: $tiny-font-size;
}

.ticket-head-left {
  display: inline-block;
  width: $left-width;
  border-right: $border;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  span {
    display: block;
  }
}

.ticket-head-right {
  display: inline-block;
  width: $right-width;
  padding-left: 8px;

  span {
    display: block;
  }
}

.ticket-body {
  background-color: $background-color-body;
}

.ticket-body-left {
  display: inline-block;
  width: $left-width;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-right: $border;

  span {
    display: block;
  }
}

.ticket-body-right {
  display: inline-block;
  width: $right-width;
  padding: 8px;
  span {
    display: block;
  }
}

.muted {
  color: $muted-color;
  font-size: $tiny-font-size;
}

.ticket-body-left-middle {
  margin-top: 16px;
}

.ticket-body-left-middle-element {
  display: inline-block;
  margin-right: 32px;
}

.ticket-body-right-middle-element {
  display: block;
}

.ticket-body-right-top {
  display: block;
}

.ticket-body-left-bottom-element {
  display: inline-block;
  margin-right: 32px;
  font-size: 16px;
}

.ticket-body-left-bottom {
  margin-top: 12px;
}

.ticket-bottom {
  height: $bottom-height;
  background-color: $background-color;
  border-radius: 0px 0px 32px 32px;

  .left {
    width: $left-width;
    height: $bottom-height;
    border-right: $border;
  }

  .right {
    height: $bottom-height;
    width: $right-width;
  }
}
